<div class="container">
  <h3 mat-dialog-title>Agregar Producto</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" type="number" placeholder="Codigo" [(ngModel)]="data.codigo"
          name="codigo" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Marca" [(ngModel)]="data.marca" name="Marca">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Proveedor" [(ngModel)]="data.proveedor" name="Proveedor">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" type="number" placeholder="Precio" [(ngModel)]="data.precio"
          name="precio" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Detalle" [(ngModel)]="data.detalle" name="detalle"
          required rows="4"></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="confirmAdd()">Guardar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>