<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- precio Column -->
    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef mat-sort-header> precio </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.precio}} </mat-cell>
    </ng-container>

    <!-- detalle Column -->
    <ng-container matColumnDef="detalle">
      <mat-header-cell *matHeaderCellDef mat-sort-header> detalle </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.detalle}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>